[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/admin/Рабочий стол/Comput_Network_Lec.pdf]
row=0
col=7

[/home/admin/Рабочий стол/Методические указания для ПЗ.docx]
row=0
col=8

[/home/admin/Рабочий стол/Студентам]
row=0
col=2

[/home/admin/Рабочий стол/Колледж]
row=0
col=3

[/home/admin/Рабочий стол/Ведомость группы ШАБЛОН.docx]
row=1
col=1

[/home/admin/Рабочий стол/Т-101.odt]
row=2
col=1

[/home/admin/Рабочий стол/1.xlsx]
row=0
col=6

[/home/admin/Рабочий стол/Ведомости текущего контроля (2024-25).xlsx]
row=3
col=1

[CEAA4B5EAA4B41E7]
row=0
col=0

[Диск Дискета]
row=3
col=0

[421039E01039DC1B]
row=2
col=0

[DA4A4EAA4A4E82ED]
row=1
col=0

[Корзина]
row=4
col=0

[/]
row=5
col=0

[/home/admin]
row=0
col=1

